<DOCTYPE html>
    <html lang="en">
        <head>
            <title>human disease prediction</title>
            <link rel="stylesheet" href="style.css">
        </head>
        
        <body>

            <div class="header" style="text-align: center;">
                <h1>Human disease prediction</h1>

                <form method="post" action="#">

                    <div class="diseases">
                    
                        <select class="disease">
                            <option value="*" disabled selected>Select a disease</option>
                            <option value="Cancer">Cancer</option>
                            <option value="Heart disease">Heart disease</option>
                            <option value="Stroke">Stroke</option>
                            <option value="Diabetes">Diabetes</option>
                        </select>

                    </div>


                </form>
            </div>
                
            
        </body> 
    </html>